$allPaddingItems: 20px;
$allColor: #FFFFFF;
$borderColor: #DFE5EC;
$fontSize: 20px;

.main{
  display: flex;
  justify-content: space-between;
  margin: 0 25px 0 25px;
  font-size: $fontSize;
  text-align: center;
}
.d1{
  flex-grow: 1;
  padding: $allPaddingItems 3px $allPaddingItems 3px;
  border: 1px solid $borderColor;
  border-radius: 10px 0 0 10px;
  background-color: $allColor;
  transition: 0.2s;
  user-select: none;
}
.d1:hover{
  background-color: #2196F3;
  color: #FFFFFF;
  border-radius: 10px 0 0 10px;
}
.d1:active{
  transform: scale(0.97);
}
.d2{
  flex-grow: 1;
  padding: $allPaddingItems;
  border-right: 1px solid $borderColor;
  border-top: 1px solid $borderColor;
  border-bottom: 1px solid $borderColor;
  background-color: $allColor;
  transition: 0.2s;
  user-select: none;
}
.d2:hover{
  background-color: #2196F3;
  color: #FFFFFF;
}
.d2:active{
  transform: scale(0.97);
}
.d3{
  flex-grow: 1;
  padding: $allPaddingItems;
  background-color: $allColor;
  border-radius: 0 10px 10px 0;
  border-top: 1px solid $borderColor;
  border-right: 1px solid $borderColor;
  border-bottom: 1px solid $borderColor;
  transition: 0.2s;
  user-select: none;
}
.d3:hover{
  background-color: #2196F3;
  color: #FFFFFF;
  border-radius: 0 10px 10px 0;
}
.d3:active{
  transform: scale(0.97);
}

